.NewProject
  %h1 New Project

  = form_for( @project ) do |f|
    = f.label :title
    = f.text_field :title
    %br
    %br

    = f.label :descreption
    = f.text_area :descreption
    %br

    = f.fields_for :user_stories do |builder|
      = render 'user_story_field', :f => builder

    = f.submit "Create New Project" , class: "btn btn-medium btn-primary"

  
