.NewProject
  %h1 New Project
  
  = nested_form_for( @project ) do |f|
    = f.label :title
    = f.text_field :title
    %br
    %br

    = f.label :descreption
    = f.text_area :descreption
    %br

    = f.fields_for :user_stories do |builder|
      = render 'user_story_field', :f => builder
    // = link_to_add_fields "Add User Story", f, :user_stories 
    = f.link_to_add "Add User Story", :user_stories
    = f.submit "Create New Project" , class: "btn btn-medium btn-primary"
    = f.collection_select :users, User.all, :id, :prompt true
    %h3 Select User to assign :
    //= select_tag(:users , :first_name , User.all)

  
