.NewProject
  %h1 New Project

  = form_for( @project ) do |f|
    = f.label :title
    = f.text_field :title
    %br
    %br

    = f.label :descreption
    = f.text_area :descreption
    %br

    .UserStoryForm
      = f.fields_for :user_story do |pf|
        User Story: 
        %br
        = pf.text_field :title
        %br
        %br

    = f.submit "Create New Project" , class: "btn btn-medium btn-primary"

  
